.city {
  color: white; }
  .city .mdl-layout-title {
    z-index: 7 !important;
    text-align: center;
    margin: 18px 0 0 !important; }
  .city .mdl-button {
    z-index: 9 !important;
    position: absolute !important;
    bottom: 16px !important;
    right: 16px !important; }
  .city .mdl-layout__drawer-button {
    z-index: 8 !important;
    color: white !important; }
  .city .icon {
    font-size: .8em; }

.climat.day {
  background: #8BC34A; }

climat.night {
  background: #1A237E; }

body.day .temperature {
  background: -moz-linear-gradient(-88deg, #00b0ff 0%, rgba(0, 176, 255, 0.3) 25%, rgba(0, 176, 255, 0.8) 70%, rgba(255, 255, 255, 0.87) 87%, rgba(40, 53, 147, 0) 88%, rgba(40, 53, 147, 0) 100%);
  background: -webkit-linear-gradient(-88deg, #00b0ff 0%, rgba(0, 176, 255, 0.3) 25%, rgba(0, 176, 255, 0.8) 70%, rgba(255, 255, 255, 0.87) 87%, rgba(40, 53, 147, 0) 88%, rgba(40, 53, 147, 0) 100%);
  background: linear-gradient(178deg, #0288D1 0%, #B3E5FC 87%, rgba(255, 255, 255, 0) 88%, rgba(255, 255, 255, 0) 100%); }

body.night .temperature {
  background: -moz-linear-gradient(-88deg, rgba(40, 53, 147, 0) 0%, rgba(0, 176, 255, 0.3) 25%, rgba(0, 176, 255, 0.8) 70%, rgba(255, 255, 255, 0.87) 87%, rgba(40, 53, 147, 0) 88%, rgba(40, 53, 147, 0) 100%);
  background: -webkit-linear-gradient(-88deg, rgba(40, 53, 147, 0) 0%, rgba(0, 176, 255, 0.3) 25%, rgba(0, 176, 255, 0.8) 70%, rgba(255, 255, 255, 0.87) 87%, rgba(40, 53, 147, 0) 88%, rgba(40, 53, 147, 0) 100%);
  background: linear-gradient(178deg, #1a237e 0%, rgba(0, 176, 255, 0.7) 70%, #ce93d8 87%, rgba(255, 255, 255, 0) 88%, rgba(255, 255, 255, 0) 100%); }

.temperature {
  margin: 0 !important;
  width: 100% !important;
  height: 40vh;
  position: relative;
  color: white; }
  .temperature .mdl-card__title-text {
    position: absolute;
    bottom: 10vh;
    font-size: 5em;
    width: 100% !important;
    text-align: center !important;
    display: block !important; }
  .temperature .light {
    font-size: .6em !important;
    margin-left: -.25em; }
  .temperature .look {
    font-size: .3em !important;
    width: 100%;
    display: block;
    line-height: .8em; }

.humidity {
  color: white;
  height: 15vh;
  width: 100%;
  padding: 2em 0 0 0;
  box-sizing: border-box; }
  .humidity .item {
    width: 33.33% !important;
    float: left !important;
    text-align: center;
    box-sizing: border-box;
    line-height: 1.4em; }
  .humidity .item:nth-child(2) {
    border-left: solid 1px white;
    border-right: solid 1px white; }

.polution {
  color: white;
  height: 35vh; }
  .polution .mdl-list__item {
    box-sizing: border-box;
    color: white;
    background: #7CB342;
    margin-bottom: 1em;
    width: 100%;
    margin: 0 auto 1em auto;
    padding: 0 15%; }
    .polution .mdl-list__item .smaller {
      margin-left: 1em; }
  .polution .smaller {
    font-size: .9em; }

.frameable {
  transition: opacity 1s;
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  left: 0;
  top: 0;
  opacity: 0;
  box-sizing: border-box;
  z-index: 1; }

.frameable.active {
  opacity: 1;
  z-index: 3; }
